<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ST10204902_PROG7312_POE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <ST10204902_PROG7312_POE.Properties.Settings>
            <setting name="GFormURL" serializeAs="String">
                <value>https://forms.gle/UCyZgA7F8S3wyWSS8</value>
            </setting>
        </ST10204902_PROG7312_POE.Properties.Settings>
    </applicationSettings>
</configuration>